.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    height:300px;
    width:1024px;
}
.container div{
    padding: 20px;
    margin: 20px;
}
#red{
    margin: 0 0 0 0;
    justify-self: center;
    align-self: flex-start;
    height: 100px;
    width: 100px;
    background-color: red;
}
#yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
}
#blue{
    height: 100px;
    width: 100px;
    background-color: black;
}
H2{
    color: red;
}
h2:hover{
    color: blue;
}